.sidenav-item:hover{
    background-color: rgba(27, 201, 149, 0.993);
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px silver;
}
.active{
    background-color: rgba(27, 201, 149, 0.993);
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px silver;
}